.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
debug-processed.txt
mytheme-*.json
mytheme-*.jsonc
rave1-dark-theme-clean.json
*.js
!out/**/*.js
!resources/**
